header{
    background-color: #ffd6d6;
    padding: 15px;
}
body{
    height: 100%;
    background-color: aqua;

}
aside{
    margin: 10px;
    background-color: aliceblue;
    pad: 15px;
    width: 150px;
    height: 100%;

}
.main{
    display: flex;
    height: 500px;
}
section{
    padding: 15px;
    margin: 10px;
    width: 90%;

}